.aide{
  .tutoriels{
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
    figure{
      flex: 1;
      border: solid;
      margin: 3px;
      height: 175px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  .message{
    padding: 20px 15px;
    background-color: rgba(0, 85, 255, 0.555);
    h2{
      text-align: center;
      text-decoration: underline;
    }
    form{
      .identite{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        label{
          margin-right: 5px;
        }
      }
      .contenu{
        width: 100%;
        div{
          text-align: center;
        }
        mat-form-field{
          display: block;
          margin: auto;
          text-align: center;
          width: 50%;
          label{
            display: block;
            width: 100%;
            text-align: center;
          }
          textarea{
            // width: 50%;
            // height: 50px;
          }
        }
      }
      .button{
        text-align: center;
      }
    }
  }
}