<div class="aide">
  <div class="tutoriels">
    <figure><p i18n>Aide aux diagnostiques</p></figure>
    <figure><p i18n>Manuel d'utilisation</p></figure>
  </div>
  <div class="message">
    <h2 i18n>Posez votre problème</h2>
    <form>
      <div class="identite">
        <div><label for="name" i18n>Nom(s) et prénom(s): </label><mat-form-field><input matInput type="text"></mat-form-field></div>
        <div><label for="email" i18n>Votre email: </label><mat-form-field><input matInput type="text"></mat-form-field></div>
      </div>
      <div class="contenu">
        <div i18n>Votre message</div>
        <mat-form-field><textarea matInput></textarea></mat-form-field>
      </div>
      <div class="button"><button mat-raised-button color="primary" i18n>Envoyer</button></div>
    </form>
  </div>
</div>
