<div class="aide">
  <div class="tutoriels">
    <figure><p>Aide aux diagnostiques</p></figure>
    <figure><p>Manuel d'utilisation</p></figure>
  </div>
  <div class="message">
    <h2>Posez votre problème</h2>
    <form>
      <div class="identite">
        <mat-form-field><label for="name">Nom(s) et prénom(s)</label><input type="text"></mat-form-field>
        <mat-form-field><label for="email">Votre email</label><input type="text"></mat-form-field>
      </div>
      <div class="contenu">
        <mat-form-field><label for="message">Votre message</label><textarea></textarea></mat-form-field>
      </div>
      <div class="button"><button mat-button>Envoyer</button></div>
    </form>
  </div>
</div>
