<div class="aide">
  <div class="tutoriels">
    <figure><p>Aide aux diagnostiques</p></figure>
    <figure><p>Manuel d'utilisation</p></figure>
  </div>
  <div class="message">
    <h2>Posez votre problème</h2>
    <form>
      <div class="identite">
        <div><label for="name">Nom(s) et prénom(s): </label><mat-form-field><input matInput type="text"></mat-form-field></div>
        <div><label for="email">Votre email: </label><mat-form-field><input matInput type="text"></mat-form-field></div>
      </div>
      <div class="contenu">
        <div>Votre message</div>
        <mat-form-field><textarea matInput></textarea></mat-form-field>
      </div>
      <div class="button"><button mat-raised-button color="primary">Envoyer</button></div>
    </form>
  </div>
</div>
