<div class="main-container">
  <app-patient-id></app-patient-id>
  <div class="form-container">
    <form #ordonnanceForm="ngForm">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let medicament of medicamentForm; let i=index" [formGroup]="medicament" [expanded]="i===0">
          <mat-expansion-panel-header><mat-panel-title>{{medicament.value.nom ? medicament.value.nom : "Medicament "+(i+1)}} {{medicament.value.dosage ? "("+medicament.value.dosage+")" : ""}}</mat-panel-title>
            <button mat-icon-button (click)="onRemoveMedicament(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-expansion-panel-header>
          <div class="panel-content">
            <div class="bloc1">
              <mat-form-field>
                <mat-label i18n>Nom du médicament</mat-label>
                <input matInput type="text" placeholder="Nom du médicament" formControlName="nom">
              </mat-form-field>
              <mat-form-field>
                <mat-label i18n>Famille du médicament</mat-label>
                <input matInput type="text" placeholder="Famille du médicament" formControlName="famille">
              </mat-form-field>
              <mat-form-field>
                <mat-label i18n>Forme du médicament</mat-label>
                <input matInput type="text" placeholder="Forme du médicament" formControlName="forme">
              </mat-form-field>
              <mat-form-field>
                <mat-label i18n>Dosage du médicament</mat-label>
                <input matInput type="text" placeholder="Dosage du médicament" formControlName="dosage">
              </mat-form-field>
            </div>
            <div class="bloc2">
              <div>
                <mat-form-field>
                  <mat-label i18n>Posologie usuelle</mat-label>
                  <textarea matInput placeholder="Posologie usuelle" formControlName="posologie"></textarea>
                </mat-form-field>
                <app-chips-input label="Observations" placeholder="Nouvelle observation..." [width]="100" [min_width]="300" (value)="getObservations($event, i)"></app-chips-input>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
    <div class="add-button"><button mat-mini-fab (click)="onAddMedicament()"><mat-icon>add</mat-icon></button></div>
  </div>
  <div class="footer">
    <app-mini-footer (images)="getImages($event)" (submit)="onSubmit()" [disabled]="mainForm.invalid || (loading$ | async)!"></app-mini-footer>
  </div>
</div>
