<div class="main-container">
  <div class="account-management">
    <h2>Gestion de compte</h2>

    <mat-accordion>

      <mat-expansion-panel hideToogle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>person</mat-icon>Modifier mes informations
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-update-my-profile></app-update-my-profile>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>delete</mat-icon>Supprimer mon compte
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-delete-my-account></app-delete-my-account>
      </mat-expansion-panel>

    </mat-accordion>

  </div>

  <div class="content-management">
    <h2>Gestion de contenu</h2>

    <div class="option">
      <p matRipple (click)="onClick('language')">
        <mat-icon>language</mat-icon>Changer la langue (Français, Anglais)
      </p>
      <div class="language" *ngIf="language">
        <mat-radio-group labelPosition="after">
            <mat-radio-button value="french" color="primary" checked>Français</mat-radio-button>
            <mat-radio-button value="english" color="primary">English</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="option">
      <p matRipple (click)="onClick('theme')">
        <mat-icon>palette</mat-icon>Changer le thème (Clair, Sombre)
      </p>
      <div class="theme" *ngIf="theme"><label for="theme-toggle" class="dark">Sombre</label><mat-slide-toggle id="theme-toggle"></mat-slide-toggle><label for="theme-toggle"  class="light">Clair</label></div>
    </div>

    <div class="option">
      <p matRipple (click)="onClick('font')">
        <mat-icon>format_size</mat-icon>Modifier la taille de la police (Petite, Moyenne, Grande)
      </p>
      <div class="font-size" *ngIf="font_size">
        <app-font-size-selection></app-font-size-selection>
      </div>
    </div>
  </div>
</div>
