<div class="main-container">
  <aside title="Inscription">
    <app-landing-aside></app-landing-aside>
  </aside>
  <form [formGroup]="newPhysicianForm" #form="ngForm">
    <div class="all_informations">
      <h2>Création compte médecin</h2>
      <div>
        <div class="qualite">
          <mat-radio-group labelPosition="after" color="primary" formControlName="qualite">
            <mat-radio-button value="Spécialiste">Spécialiste</mat-radio-button>
            <mat-radio-button value="Généraliste">Généraliste</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="matricule"><label>Numéro matricule: </label>
          <input matInput type="text" placeholder="Veuillez entrer votre matricule" formControlName="matricule">
        </div>
        <div class="informations">
          <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput type="text" placeholder="Nom" formControlName="nom">
            <!-- <mat-error>{{ getControlError(newPhysicianForm.nom) }}</mat-error> -->
          </mat-form-field>
          <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput type="text" placeholder="Prénom" formControlName="prenom">
            <!-- <mat-error>{{ getControlError(newPhysicianForm.prenom) }}</mat-error> -->
          </mat-form-field>
          <div>
            <label>Sexe: </label>
            <mat-radio-group labelPosition="after" color="primary" formControlName="sexe">
              <mat-radio-button value="Masculin">Masculin</mat-radio-button>
              <mat-radio-button value="Feminin">Féminin</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field>
            <mat-label>Nationalité</mat-label>
            <mat-select placeholder="Nationalité" formControlName="nationalite">
                <mat-optgroup label="-----------------------------------------------------------------------------">
                  <mat-option value="Cameroun">Cameroun</mat-option>
                  <mat-option value="Congo">Congo</mat-option>
                </mat-optgroup>
                <mat-optgroup label="-----------------------------------------------------------------------------">
                  <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
                </mat-optgroup>
                </mat-select>
                <!-- <mat-error>{{ getControlError(newPhysicianForm.nationalite) }}</mat-error> -->
              </mat-form-field>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Date de naissance (MM/DD/YYYY)</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date_naissance">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <!-- <mat-error>{{ getControlError(newPhysicianForm.date_naissance) }}</mat-error> -->
            </mat-form-field>
            <mat-form-field>
              <mat-label>Lieu de naissance</mat-label>
              <input matInput type="text" placeholder="Lieu de naissance" formControlName="lieu_naissance">
              <!-- <mat-error>{{ getControlError(newPhysicianForm.lieu_naissance) }}</mat-error> -->
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label>Téléphone</mat-label>
            <input matInput type="text" placeholder="Téléphone" formControlName="telephone">
            <!-- <mat-error>{{ getControlError(newPhysicianForm.telephone) }}</mat-error> -->
          </mat-form-field>
          <mat-form-field>
            <mat-label>Adresse mail</mat-label>
            <input matInput type="text" placeholder="Adressse mail" formControlName="email">
            <!-- <mat-error>{{ getControlError(newPhysicianForm.email) }}</mat-error> -->
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ville</mat-label>
            <input matInput type="text" placeholder="Ville" formControlName="ville">
            <!-- <mat-error>{{ getControlError(newPhysicianForm.ville) }}</mat-error> -->
          </mat-form-field>
          <mat-form-field>
            <mat-label>Hôpital d'exercice</mat-label>
            <input matInput type="text" placeholder="Hôpital d'exercice" formControlName="hopital">
            <!-- <mat-error>{{ getControlError(newPhysicianForm.hopital) }}</mat-error> -->
          </mat-form-field>
          <mat-form-field class="certificate">
            <mat-label>Certificat d'études</mat-label>
            <mat-icon matSuffix><label for="file">attachment</label></mat-icon>
            <input type="file" id="file" accept=".pdf" formControlName="certificat">
            <input matInput type="text" placeholder="Certificat d'études" disabled>
            <!-- <mat-error>{{ getControlError(newPhysicianForm.certificat) }}</mat-error> -->
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" placeholder="Mot de passe" formControlName="password">
            <mat-error></mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirmation du mot de passe</mat-label>
            <input matInput type="password" placeholder="Confirmation du mot de passe" formControlName="confirmPassword">
            <mat-error>{{ getControlError('password') }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <p class="validation">
      <mat-checkbox labelPosition="after" color="primary" formControlName="conditions">Accepter les <a href="/assets/Conditions_utilisation.pdf" target="_blank">conditions d'utilisations</a></mat-checkbox>
    </p>
    <div class="submit"><button color="primary" mat-raised-button>Enregistrer</button></div>
  </form>
</div>
