<form>
  <div>
    <div class="profile">
      <div>
        <label for="ville">Ville</label><input type="text">
        <mat-icon>draw </mat-icon>
      </div>
      <div>
        <label for="telephone">Téléphone</label><input type="text">
        <mat-icon>draw </mat-icon>
      </div>
      <div>
        <label for="email">E-mail</label><input type="text">
        <mat-icon>draw </mat-icon>
      </div>
      <div>
        <label for="password">Mot de passe</label><input type="text">
        <mat-icon>draw </mat-icon>
      </div>
    </div>
    <figure class="avatar"></figure>
  </div>
  <div><button>Enrégistrer</button></div>
</form>
