<div>
  <app-patient-id></app-patient-id>
  <div>
    <form>
      <div>
        <mat-form-field><mat-label>Type de test</mat-label><input type="text" placeholder="Type de test"></mat-form-field>
        <mat-form-field><mat-label>Résultat</mat-label><input type="text" placeholder="Résultat"></mat-form-field>
        <mat-form-field><mat-label>Nom du laboratoire</mat-label><input type="text" placeholder="Nom du laboratoire"></mat-form-field>
      </div>
      <div><app-chips-input label="Remarques" placeholder="Nouvelle remarque..."></app-chips-input></div>
    </form>
  </div>
  <div>
    <app-mini-footer></app-mini-footer>
  </div>
</div>
