<app-search-bar></app-search-bar>
<div class="main-div">
  <div class="row1">
    <div class="col1">
      <p class="total">550</p>
      <p class="categorie" i18n>Mes examens</p>
    </div>
    <div class="col2">
      <p class="total">550</p>
      <p class="categorie" i18n>Mes ordonnaces</p>
    </div>
  </div>
  <div class="row2">
    <div class="col1">
      
    <p class="total">550</p>
      <p class="categorie" i18n>Mes consultations</p>
    </div>
    <div class="col2">
      <p class="total">550</p>
      <p class="categorie" i18n>Résultats Labo</p>
    </div>
    <div class="col3">
      <p class="total">550</p>
      <p class="categorie" i18n>Résultats Radio</p>
    </div>
  </div>
</div>
