<app-search-bar></app-search-bar>
<div class="main-div">
  <div class="row1">
    <div class="col1">
      <!-- <img src="/assets/istockphoto-1301555107-612x612-1.jpg"> -->
      <div class="content">
        <p class="total">550</p>
        <p class="categorie" i18n>Mes examens</p>
      </div>
    </div>
    <div class="col2">
      <!-- <img src="/assets/istockphoto-1173046912-612x612-1.jpg"> -->
      <div class="content">
        <p class="total">550</p>
        <p class="categorie" i18n>Mes ordonnaces</p>
      </div>
    </div>
  </div>
  <div class="row2">
    <div class="col1">
      <!-- <img src="/assets/istockphoto-1254897750-612x612-1.jpg"> -->
      <div class="content">
        <p class="total">550</p>
        <p class="categorie" i18n>Mes consultations</p>
      </div>
    </div>
    <div class="col2">
      <!-- <img src="/assets/img.jpeg"> -->
      <div class="content">
        <p class="total">550</p>
        <p class="categorie" i18n>Résultats Labo</p>
      </div>
    </div>
    <div class="col3">
      <!-- <img src="/assets/istockphoto-637851338-612x612.jpg"> -->
      <div class="content">
        <p class="total">550</p>
        <p class="categorie" i18n>Résultats Radio</p>
      </div>
    </div>
  </div>
</div>
