<div class="aside">
  <p><a routerLink="/medecin/home">Accueil</a></p>
  <div class="avatar">
    <figure>
      <img src="/assets/doctor.jpg" alt="Doctor's name">
      <legend>Doctor's Name</legend>
   </figure>
  </div>

  <div class="side-nav">
    <mat-nav-list>
      <a routerLink="/medecin/profil" routerLinkActive="active-link" mat-list-item><li><mat-icon>account_circle</mat-icon>PROFIL</li></a>
      <a [matMenuTriggerFor]="menu" routerLinkActive="active-link" mat-list-item><li><mat-icon >date_range</mat-icon>HISTORIQUE</li></a>
      <a routerLink="/medecin/parametres" routerLinkActive="active-link" mat-list-item><li><mat-icon >settings</mat-icon>PARAMETRES</li></a>
      <a routerLink="/medecin/aide" routerLinkActive="active-link" mat-list-item><li><mat-icon >help</mat-icon>AIDE</li></a>
      <a routerLink="/medecin/a-propos" routerLinkActive="active-link" mat-list-item><li><mat-icon >info</mat-icon>A PROPOS</li></a>
      <a (click)="onSignOut()" mat-list-item><li><mat-icon>settings_power</mat-icon>DECONNEXION</li></a>
    </mat-nav-list>
  </div>
</div>

<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="/medecin/historique/examensGeneraux">Mes examens</a>
  <a mat-menu-item routerLink="/medecin/historique/consultations">Mes consultations</a>
  <a mat-menu-item routerLink="/medecin/historique/ordonnances">Mes ordonnances</a>
  <a mat-menu-item routerLink="/medecin/historique/laboratoire">Mes résultats labo</a>
  <a mat-menu-item routerLink="/medecin/historique/imagerie">Mes résultats imagerie</a>
</mat-menu>
