@import "../../styles.scss";

.main-container{
  display: flex;
  flex-direction: row;
  height: 100%;
  aside{
    flex: 1;
    height: 100%;
    min-width: 200px;
    max-width: 240px;
    overflow-y: auto;
    @media(max-width:$break1){
      &{
        display: none;
      }
    }
  }
  mat-drawer-container{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    main{
      height: 100%;
      display: flex;
      flex-direction: column;
      header{
        flex: 1;
      }
      div{
        flex: 25;
        overflow: auto;
        padding: 10px 15px;
      }
      mat-drawer{
        width: 250px;
      }
    }
  }
}
.sidenav-button{
  position: absolute;
  z-index: 1;
  top: 5px;
  button{
    mat-icon{
      color: #ffffff;
    }
  }
  @media (min-width: $break1){
    &{
      display: none;
    }
  }
}
