@import "../../../../../styles.scss";

mat-toolbar{
  padding: 0px;
  background-color: rgba(0, 0, 255, 0);
  .large_screen{
    padding-left: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    li{
      display: block;
      flex: 1;
      margin-right: 8px;
      margin-left: 8px;
      a{
        color: $navLink;
        text-decoration: none;
        text-shadow: 0.5px 0.7px 0.8px;
      }
      .active-link{
        color: $activeLink;
      }
    }
  }
  @media (max-width:1009px){
    .large_screen{
      display: none;
    }
  }
  .phone_screen{
    width: 100%;
    text-align: right;
    mat-select{
      width: 200px;
      text-align: center;
      background-color: $medicationFooter;
    }
  }
  @media (min-width:1009px){
    .phone_screen{
      display: none;
    }
  }
}
