@import "../../../../../styles.scss";

mat-toolbar{
  padding: 0px;
  background-color: rgba(0, 0, 255, 0);
  ul{
    padding-left: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    li{
      display: block;
      flex: 1;
      margin-right: 8px;
      margin-left: 8px;
      a{
        color: $navLink;
        text-decoration: none;
      }
      .active-link{
        color: $activeLink;
      }
    }
  }
}
