<div class="main-container">
  <app-patient-id [input]="true" (cardId)="getCardId($event)"></app-patient-id>
  <div class="main-content">
    <div *ngIf="loading$ | async" class="spinner-div"><mat-spinner></mat-spinner></div>
    <div *ngIf="error$ | async" class="spinner-div" i18n><mat-icon>report_problem</mat-icon>Une erreur est survenu. Veuillez verifier votre connexion internet, puis ressayer !</div>
    <div class="profile" *ngIf="(patient$ | async)!['_id']!==undefined && !(loading$ | async)">
      <mat-accordion multi>

        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title i18n>
              Informations personnelles
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="informations_personnelles" *ngIf="(patient$ | async)!['userProfile'] as patient">
            <div class="bloc1">
              <figure>
                <img src="" alt="">
                <legend>{{patient.firstName+" "+patient.lastName}}</legend>
              </figure>
            </div>
            <div class="bloc2">
              <table height=180>
                <tr>
                  <td class="criteria" i18n>Age:</td>
                  <td class="value">{{getYears(patient.birthdate)+" ans"}}</td>
                </tr>
                <tr>
                  <td class="criteria" i18n>Sexe:</td>
                  <td class="value">{{patient.sex}}</td>
                </tr>
                <tr>
                  <td class="criteria" i18n>Téléphone:</td>
                  <td class="value">{{patient.phoneNumber}}</td>
                </tr>
                <tr>
                  <td class="criteria" i18n>Profession:</td>
                  <td class="value">{{patient.profession}}</td>
                </tr>
                <tr>
                  <td class="criteria" i18n>Nationalité:</td>
                  <td class="value">{{patient.nationality}}</td>
                </tr>
                <tr>
                  <td class="criteria" i18n>Adresse:</td>
                  <td class="value">{{patient.address}}</td>
                </tr>
              </table>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title i18n>
              Contacts pour cas d'urgence
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="contacts_urgences" mat-table [dataSource]="getContacts(patient$|async)">
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef i18n>Nom</th>
              <td mat-cell *matCellDef="let element">{{element.nom}}</td>
            </ng-container>
            <ng-container matColumnDef="relation">
              <th mat-header-cell *matHeaderCellDef i18n>Relation</th>
              <td mat-cell *matCellDef="let element">{{element.address}}</td>
            </ng-container>
            <ng-container matColumnDef="numero">
              <th mat-header-cell *matHeaderCellDef i18n>Numéro</th>
              <td mat-cell *matCellDef="let element">{{element.numero}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['nom', 'relation', 'numero']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['nom', 'relation', 'numero'];"></tr>
          </table>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title i18n>
              Informations médicales
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <table class="infos_medicales" mat-table [dataSource]="infosMedicales">
            <ng-container matRowDef="poids">
              <th mat-header-cell *matHeaderCellDef>Poids</th>
              <td mat-cell *matCellDef="let element">{{element.position}}</td>
            </ng-container>
            <ng-container matRowDef="taille">
              <th mat-header-cell *matHeaderCellDef>Taille</th>
              <td mat-cell *matCellDef="let element">{{element.position}}</td>
            </ng-container>
            <ng-container matRowDef="groupe_sanguin">
              <th mat-header-cell *matHeaderCellDef>Groupe sanguin</th>
              <td mat-cell *matCellDef="let element">{{element.position}}</td>
            </ng-container>
            <ng-container matRowDef="maladie_chronique">
              <th mat-header-cell *matHeaderCellDef>Maladies chroniques</th>
              <td mat-cell *matCellDef="let element">{{element.position}}</td>
            </ng-container>
            <ng-container matRowDef="antecedant_familial">
              <th mat-header-cell *matHeaderCellDef>Antécédents familiak</th>
              <td mat-cell *matCellDef="let element">{{element.position}}</td>
            </ng-container>
            <tr mat-header-column *matHeaderColumnDef="['Nom', 'Relation', 'Numéro']"></tr>
            <tr mat-row *matColumnDef="let row; columns: ['Nom', 'Relation', 'Numéro'];"></tr>
          </table> -->
          <h3 i18n>Allergies</h3>
          <table class="allergies" mat-table [dataSource]="getAllergies(patient$|async)">
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef i18n>Type</th>
              <td mat-cell *matCellDef="let element">{{element.type}}</td>
            </ng-container>
            <ng-container matColumnDef="manifestations">
              <th mat-header-cell *matHeaderCellDef i18n>Manifestations</th>
              <td mat-cell *matCellDef="let element">{{element.manifestations}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['type', 'manifestations']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['type', 'manifestations'];"></tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="button-div">
    <button mat-fab extended color="primary" [disabled]="disabled" (click)="getPatientProfile()" i18n>Voir profil</button>
  </div>
</div>
