<div *ngIf="input; then inputBlock else showBlock"></div>

<ng-template #inputBlock>
  <div class="patient-id">
    <label i18n>Consulter</label>
    <mat-form-field>
      <button mat-icon-button matSuffix (click)="openDialog()"><mat-icon>camera</mat-icon></button>
      <input matInput type="text" placeholder="Identifiant du patient" [formControl]="idControl">
    </mat-form-field>
  </div>
</ng-template>

<ng-template #showBlock>
  <div class="patient-id">
    <mat-form-field>
      <input matInput type="text" placeholder="Identifiant du patient" [formControl]="idControl">
    </mat-form-field>
  </div>
</ng-template>
