h1, h5, p {
  font-weight: 600;
  word-break: break-all;
  font-family: 'Courier New', Courier, monospace;
}
div {
  text-align: center;
  background: #fdfdfd;
  
  button {
    &disabled {
      cursor: no-drop;
    }
  }
}

.container{
  margin: auto;
  .row{
    margin-bottom: 5px;
    #encoding{
      display: none;
    }
  }
  p{
    text-align: center;
  }
  .torch{
    text-align: center;
    position: absolute;
    left: 10px;
  }
  .actions{
    text-align: center;
    margin: auto;
  }
}